* {
	background-color: #F8F8F8;
}
h1 {
	text-align: center;
	color: #333399;
	font-family: Cursive;
	font-size: 75px;
	text-shadow: 2px 2px 3px #666666;
}
h2 {
	color: #333399;
	font-family: Cursive;
	font-size: 35px;
	text-shadow: 1px 1px 2px #666666;
}
p {
	font-size: 20px;
}
ul {
	font-size: 20px;
	display: inline-block;
}
a {
	font-size: 35px;
	color: #333399;
	text-decoration: none;
	text-shadow: 1px 1px 2px #666666;
	display: block;
	text-align: center;

}	
a:hover {
	text-decoration: underline;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	border-width: 10px;
}